.7_43 { 
	overflow:hidden;
}.e7_43 { 
	background-image:linear-gradient(0deg, rgba(255, 137.4380475282669, 94.56250101327896, 1) 0%,rgba(76.0000030696392, 76.0000030696392, 76.0000030696392, 1) 100%) ;
	width:1440px;
	height:960px;
	position:absolute;
}.7_45 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e7_45 { 
	width:585px;
	height:763px;
	position:absolute;
	left:427px;
	top:99px;
	border-top-left-radius:102px;
	border-top-right-radius:102px;
	border-bottom-left-radius:102px;
	border-bottom-right-radius:102px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_57 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:41px;
	position:absolute;
	left:487px;
	top:594px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_52 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:124px;
	position:absolute;
	left:530px;
	top:280px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_50 { 
	color:rgba(255, 255, 255, 1);
	width:393px;
	height:72px;
	position:absolute;
	left:536px;
	top:187px;
	font-family:Chelsea Market;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}.7_47 { 
	border:5px solid rgba(0, 0, 0, 1);
}.e7_47 { 
	width:396px;
	height:94px;
	position:absolute;
	left:522px;
	top:52px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
	background-image:url(images/logo_1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_54 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.800000011920929);
	width:472px;
	height:81px;
	position:absolute;
	left:483px;
	top:494px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e7_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.800000011920929);
	width:472px;
	height:81px;
	position:absolute;
	left:484px;
	top:635px;
	border-top-left-radius:70px;
	border-top-right-radius:70px;
	border-bottom-left-radius:70px;
	border-bottom-right-radius:70px;
}.e7_56 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:41px;
	position:absolute;
	left:490px;
	top:450px;
	font-family:Alef;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e7_59 { 
	color:rgba(255, 255, 255, 1);
	width:269px;
	height:34px;
	position:absolute;
	left:519px;
	top:776px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e16_7 { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:34px;
	position:absolute;
	left:800px;
	top:776px;
	font-family:Alef;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}